In [85]:
import numpy as np
import pandas as pd
from ast import literal_eval as le #Abstract syntax trees module. It helps to process strings based on syntax grammar. In order to convert strings to list, we can use literal_eval function

In [86]:
path_movies = 'tmdb_5000_movies.csv'
path_credits = 'tmdb_5000_credits.csv'
movies = pd.read_csv(path_movies) #Contains popularity, runtime, genre, etc.
credits = pd.read_csv(path_credits) #Contains info about crew and cast of movie

In [87]:
movies.sample(5)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
3068,10000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 18, ""...",NaN,9952,"[{""id"": 1327, ""name"": ""war crimes""}, {""id"": 14...",en,Rescue Dawn,A US Fighter pilot's epic struggle of survival...,17.078656,"[{""name"": ""Metro-Goldwyn-Mayer (MGM)"", ""id"": 8...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2006-09-09,7177143,126.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A true story of survival... declassified.,Rescue Dawn,6.9,336
1037,45000000,"[{""id"": 35, ""name"": ""Comedy""}]",NaN,1624,"[{""id"": 387, ""name"": ""california""}, {""id"": 102...",en,Liar Liar,Fletcher Reede is a fast-talking attorney and ...,26.721386,"[{""name"": ""Imagine Entertainment"", ""id"": 23}, ...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1997-03-21,181000000,86.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Trust me.,Liar Liar,6.4,1424
3612,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,378200,"[{""id"": 622, ""name"": ""bet""}, {""id"": 5564, ""nam...",en,The Perfect Match,"Terrence J. stars as Charlie, a playboy who's ...",3.810827,"[{""name"": ""Lionsgate"", ""id"": 1632}, {""name"": ""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2016-03-11,0,96.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,t's what everyone's looking for,The Perfect Match,5.2,42
789,60000000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 35, ""name...",NaN,9713,"[{""id"": 1361, ""name"": ""salesclerk""}, {""id"": 21...",en,Holy Man,Eddie Murphy stars as an over-the-top televisi...,9.265672,"[{""name"": ""Caravan Pictures"", ""id"": 175}, {""na...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1998-10-08,0,114.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Comedy Where Nothing's Sacred!,Holy Man,4.9,111
3598,0,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 27, ""name...",http://www.mylifetime.com/movies/the-haunting-...,14745,[],en,The Haunting of Molly Hartley,When teenage Molly Hartley moves to a new town...,8.309894,"[{""name"": ""Freestyle Releasing"", ""id"": 4616}, ...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2008-10-31,0,82.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Her past is yet to come.,The Haunting of Molly Hartley,4.3,48

In [88]:
credits.sample(5)

,movie_id,title,cast,crew
4114,10656,Subway,"[{""cast_id"": 1, ""character"": ""H\u00e9l\u00e9na...","[{""credit_id"": ""52fe439d9251416c75017483"", ""de..."
4142,119458,Supercapitalist,"[{""cast_id"": 11, ""character"": ""Mark Patterson""...","[{""credit_id"": ""52fe4c02c3a36847f821d22d"", ""de..."
3039,75900,My Week with Marilyn,"[{""cast_id"": 2, ""character"": ""Marilyn Monroe"",...","[{""credit_id"": ""535789adc3a368561100282b"", ""de..."
2467,16161,Baby Boy,"[{""cast_id"": 1, ""character"": ""Joseph Summers"",...","[{""credit_id"": ""52fe46ae9251416c7507ffa1"", ""de..."
1518,10253,Dragon Wars: D-War,"[{""cast_id"": 13, ""character"": ""Ethan Kendrick""...","[{""credit_id"": ""52fe434a9251416c7500ad21"", ""de..."

In [89]:
movies = movies.merge(credits,on='title') #Merging both the datasets

In [90]:
#Columns under consideration: genres, id,keywords,title, overview, cast, crew

movies = movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [91]:
movies.shape

(4809, 7)

In [92]:
movies = movies.dropna() #Removing null values

In [93]:
movies.shape

(4806, 7)

In [94]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [95]:
def get_names(obj):
    l = []
    for i in le(obj):
        l.append(i['name'])
    return l

In [96]:
movies['genres'] = movies['genres'].apply(get_names) #Applying get_names to truncate id and get only names as a list

In [97]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [98]:
movies['keywords'] = movies['keywords'].apply(get_names)

In [99]:
movies['keywords'].head()

0    [culture clash, future, space war, space colon...
1    [ocean, drug abuse, exotic island, east india ...
2    [spy, based on novel, secret agent, sequel, mi...
3    [dc comics, crime fighter, terrorist, secret i...
4    [based on novel, mars, medallion, space travel...
Name: keywords, dtype: object

In [100]:
def get_prime_cast(obj):
    l = []
    cnt = 0
    for i in le(obj):
        if cnt<3:
            l.append(i['name'])
            cnt+=1
        else:
            break
    return l

In [101]:
movies['cast'] = movies['cast'].apply(get_prime_cast)

In [102]:
def get_director_crew(obj):
    l = []
    for i in le(obj):
        if i['job'] == 'Director':
            l.append(i['name'])
            break
    return l

In [103]:
movies['crew'] = movies['crew'].apply(get_director_crew)

In [104]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [105]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [106]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [108]:
f=0
for i in movies:
    if(i=='overview' or f==1):
        f=1
        movies[i] = movies[i].apply(lambda x: [j.replace(" ","") for j in x])

In [109]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]

In [110]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [111]:
df = movies[['movie_id','title','tags']]

In [114]:
df['tags'] = df['tags'].apply(lambda x: " ".join(x))

<ipython-input-114-789a1ef76fd4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tags'] = df['tags'].apply(lambda x: " ".join(x))

In [115]:
df.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [116]:
df['tags'] = df['tags'].apply(lambda x:x.lower())

<ipython-input-116-f0a9af75070b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tags'] = df['tags'].apply(lambda x:x.lower())

In [117]:
df.head()

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bond’s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."

In [118]:
mn = []
for i in df['tags']:
    mn.append(len(i))
s = sum(mn)/len(mn)

In [120]:
s # mean length of tags

456.8801498127341

In [129]:
import nltk #We will do stemming. we will replace words like action,actions to simply action

In [130]:
from nltk.stem.porter import PorterStemmer as Pss
ps = Pss()

In [135]:
def stem(text):
    l = []
    for i in text.split():
        l.append(ps.stem(i))
    return " ".join(l)

In [136]:
df['tags'] = df['tags'].apply(stem)

<ipython-input-136-9c043b76a2e3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tags'] = df['tags'].apply(stem)

In [137]:
df.head()

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a parapleg marin is dispa..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believ to be dead, ha c..."
2,206647,Spectre,a cryptic messag from bond’ past send him on a...
3,49026,The Dark Knight Rises,follow the death of district attorney harvey d...
4,49529,John Carter,"john carter is a war-weary, former militari ca..."

In [138]:
df['tags'][0]

'in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. action adventur fantasi sciencefict cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d samworthington zoesaldana sigourneyweav jamescameron'

In [139]:
from sklearn.feature_extraction.text import CountVectorizer as CV
cvect = CV(max_features = 2000, stop_words='english')

In [140]:
vectors = cvect.fit_transform(df['tags']).toarray() #converting sparse matrix to numpy 2d array

In [141]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0])

In [143]:
from sklearn.metrics.pairwise import cosine_similarity
sim = cosine_similarity(vectors)

In [151]:
def recommend(movie):
    movie_index = df[df['title'] == movie].index[0]
    similar_movies = sorted(list(enumerate(sim[movie_index])),reverse=True,key=lambda x:x[1])[1:6]
    for i in similar_movies:
        print(df.iloc[i[0]].title)

In [152]:
recommend('Avatar')

Aliens vs Predator: Requiem
Falcon Rising
Independence Day
Jupiter Ascending
Titan A.E.

In [153]:
import pickle

In [155]:
pickle.dump(df.to_dict(),open('movie.pkl','wb'))

In [156]:
pickle.dump(sim,open('sim.pkl','wb'))